.main-table-main-container{
    display:flex;
    flex-direction:column;
    width:80%;
    margin:0 auto;
    margin-top:100px;
}

.main .main-table-table-cell{
    background-color:black;
    color:white;
}

.main-table-typography{
    display:inline;
    cursor:pointer;
}

.main-table-search{
    width:300px;
    margin-bottom:10px;
}

.main-table-chevron{
    cursor:pointer;
    margin-bottom:10px;
}